:root {
  --list-width: 272px;
  --header-height: 56px;
  --border-radius: 0.25rem;

  --shadow-sm: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);

  --font-family: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    sans-serif;

  --main-background-color: var(--vscode-editor-background);
  --primary-background-color: var(--vscode-sideBar-background);
  --secondary-background-color: var(--vscode-editorWidget-background);

  --text-color: var(--vscode-foreground);
  --light-text-color: var(--vscode-foreground);
  --secondary-text-color: var(--vscode-descriptionForeground);
  --selected-color: var(--vscode-list-activeSelectionBackground);
  --hover-color: var(--vscode-list-hoverBackground);

  --primary-color: var(--vscode-textLink-foreground);
  --danger-color: #d62f39;
  --warning-color: #fcc44e;
  --success-color: #43a23c;
  --header-color: var(--vscode-titleBar-activeBackground);

  --button-color: var(--vscode-button-background);
  --form-border-color: var(--vscode-panel-border);
}
